{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}

<div class="portrait-wrapper">
  <a
    {% if page.slug != member.slug %}
      href="{{ member.url | relative_url | uri_escape }}"
    {% endif %}
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ member.name.en | default: member.name | regex_strip }}"
  >
    <img
      src="{{ member.image | relative_url | uri_escape }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    <div class="portrait-info">
      {% if member.name %}
        <span class="portrait-name">
          {% include t.html value=member.name %}
        </span>
      {% endif %}

      {% if member.description or type %}
        <span class="portrait-description">
          {% if member.description %}
            {% include t.html value=member.description %}
          {% else %}
            {% include t.html value=type.description %}
          {% endif %}
        </span>
      {% endif %}

      {% for info in member.other_info %}
        <span class="portrait-description">
          {% include t.html value=info %}
        </span>
      {% endfor %}

      {% if member.email %}
        <span class="portrait-email">{{ member.email }}</span>
      {% endif %}
    </div>
  </a>
</div>
