---
layout: default
body_class: page-member
---

{% capture floatcontent %}

{% include portrait.html lookup=page.slug %}

{% if page.homepage %}
{% include button.html type="home-page" link=page.homepage style="bare" %}
{% endif %}

<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}<br>
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{{ content }}

{% assign member_name = page.name.en | default: page.name %}

{% assign aliases = page.aliases
  | default: member_name
  | default: page.title
  | join: ","
  | split: ","
  | array_filter
%}

{% capture search -%}
  research/?search={% for alias in aliases %}"{{ alias }}" {% endfor %}
{%- endcapture %}

<p class="center">
  <a href="{{ search | relative_url | uri_escape }}">
    <span class="lang-zh">在「发表论著」页面查找 {{ member_name }} 的论文</span>
    <span class="lang-en">Search for {{ member_name }}'s papers on the Research page</span>
  </a>
</p>

{% capture search -%}
  blog/?search={{ page.name }}
{%- endcapture %}

<!--
<p class="center">
  <a href="{{ search | relative_url | uri_escape }}">
    See {{ page.name | default: page.title }}'s posts on the Blog page
  </a>
</p>
-->
